/* 磨砂背景：噪点图 + 透明背景 */
body .workspace-split .workspace-tabs .view-content::before {
  position: fixed;
  inset: 0;
  content: '';
  background-size: 182px;
  opacity: 0.02;
  z-index: -1;
  background-image: url(https://cdn.jsdelivr.net/gh/fengstats/blogcdn@main/2024/noise.png);
}
