/* 资源管理器 */
/* 目录图标 */
.nav-folder-children .nav-folder-title-content,
.nav-folder-children .nav-file-title-content {
  position: relative;
  padding-left: 1.2em;
}
.nav-folder-children .nav-folder-title-content::before,
.nav-folder-children .nav-file-title-content:first-child::before {
  position: absolute;
  left: 0;
  content: '🗂️';
}
/* 文件图标 */
.nav-folder-children .nav-file-title-content:first-child::before {
  content: '📝';
}
