body {
  --bold-color: var(--color-accent) !important;
  /* TODO: 忘了有什么用了，调试也没看到效果，先注释 */
  /* --list-marker-color: hsla(var(--color-accent-hsl), 0.8); */
}

/* === 链接 === */
/* 源码模式给悬停链接加个补丁，当光标在链接行的时候，降低透明度 */
.markdown-source-view.mod-cm6 .cm-link .cm-underline:hover {
  opacity: 0.8;
}

/* === 内嵌代码块 === */
/* 比如 `code` 这样 */
.markdown-rendered code,
.cm-s-obsidian span.cm-inline-code {
  background-color: #e8e8e8;
}

/* === 粗体 === */
b,
strong,
.cm-strong {
  color: var(--bold-color) !important;
}

/* === 引用 === */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before,
.markdown-source-view.mod-cm6 .cm-blockquote-border:before {
  border-width: 3px;
  border-left-color: #d0d7de !important;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote,
.markdown-rendered blockquote {
  color: #656d76;
  background-color: transparent;
  /* 渐变背景色 */
  /* background: linear-gradient(to right, hsla(var(--color-accent-hsl), 0.08), #fff); */
}
/* 前后空白行调整 */
body {
  --blank-line-height: 0.5;
  --hover-color: hsla(var(--color-accent-hsl), 0.4);
}
/* 直接缩减行高 */
.is-live-preview [class='cm-line']:has(+ :is(.HyperMD-quote, .cm-callout)),
.is-live-preview [class='cm-active cm-line']:has(+ :is(.HyperMD-quote, .cm-callout)) {
  line-height: 0.88;
}
.is-live-preview :is(.HyperMD-quote, .cm-callout) + [class='cm-line'],
.is-live-preview :is(.HyperMD-quote, .cm-callout) + [class='cm-active cm-line'] {
  line-height: 0.66;
}
