body {
  --bold-color: var(--color-accent) !important;
  /* 底部右侧状态栏 */
  --status-bar-font-size: 15px;

  --gray-0: #eceff4;
  --gray-1: #d8dee9;
  --gray-2: #d5d8de;
  --gray-3: #abb2bd;

  --dark-0: #2e3440;
  --dark-1: #3b4252;
  --dark-2: #434c5e;
  --dark-3: #4e5768;

  /* 前后空白行调整 */
  --quote-before-line-height: 0.9;
  --quote-after-line-height: 0.7;
  --blank-line-height: 0.5;
  --hover-color: hsla(var(--color-accent-hsl), 0.4);
}

/* === 链接 === */
/* 部分主题下给悬停链接动画加个补丁，当光标在链接行的时候，降低透明度 */
.cm-underline:hover,
.external-link:hover {
  opacity: 0.8;
}

/* === 内嵌代码块 === */
/* 比如 `code` 这样 */
.markdown-rendered code,
.cm-s-obsidian span.cm-inline-code {
  background-color: #e8e8e8;
}

/* === 粗体 === */
b,
strong,
.cm-strong {
  color: var(--bold-color) !important;
}
