body {
  /* 复选框大小 */
  --checkbox-size: 18px;
  --animation: 0.3s ease-in;
  /* 有序无序列表前面符号的样式 */
  --list-marker-color: hsla(var(--color-accent-hsl), 0.6);
}

/* 聚焦当前行时样式加深 */
.cm-active {
  --list-marker-color: hsla(var(--color-accent-hsl), 1);
}

/* 编辑模式 */
.markdown-source-view ol > li,
.markdown-source-view ul > li,
.markdown-source-view.mod-cm6 .HyperMD-list-line.cm-line {
  line-height: 1.55em;
  margin-left: -0.55em !important;
}

/* 预览模式 */
/* 无序列表和任务列表 */
.markdown-preview-view ul > li {
  margin-left: -1em !important;
}
/* 有序列表 */
.markdown-preview-view ol > li {
  margin-left: -0.9em !important;
}
/* 任务列表 */
.markdown-preview-view ul.contains-task-list > li {
  margin-left: -0.25em !important;
}
/* 无意中影响的 CheckList 列表复位 */
.markdown-preview-view ul li.compact {
  margin-left: 0 !important;
}

/* 清除已完成任务列表项的删除线 */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task='x'],
ul > li.task-list-item[data-task='x'] {
  text-decoration: none;
}
.theme-dark .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task='x'],
.theme-dark ul > li.task-list-item[data-task='x'] {
  opacity: 0.5;
}

/* live preview 时才有动画 */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task=' '] {
  transition: var(--animation);
}

/* 圆角 */
.markdown-source-view.mod-cm6 .task-list-item-checkbox {
  /* border-radius: 50%; */
}

/* 增加边框向内填充收缩留出一个空心点 */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task=' ']:hover {
  border: 5px solid var(--color-accent);
  border-radius: 10px;
}
