/* 年月位置互换 */
body #calendar-container .nav {
  padding-left: 12px;
  padding-right: 0;
  margin-top: 1em;
}
body #calendar-container .nav .title {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-weight: normal;
  font-size: 1.6em;
}
body #calendar-container .nav .title .year {
  color: var(--text-normal);
}
body #calendar-container .nav .title .year::after {
  content: '年';
  margin-right: var(--size-2-1);
  margin-left: var(--size-2-1);
}
body #calendar-container .nav .title .month {
  color: var(--text-accent);
  font-weight: bold;
  font-size: 1.2em;
}
/* 右侧按钮悬浮动画 */
body #calendar-container .nav .right-nav .arrow:hover,
body #calendar-container .nav .right-nav .reset-button:hover {
  color: var(--text-accent);
  --color-arrow: var(--text-accent);
}
/* 日历边距和颜色调整 */
.calendar .has-note.active .filled {
  fill: #fff !important;
}
.calendar .has-note.active .hollow {
  stroke: #fff;
}

.theme-dark .calendar .has-note.active .filled {
  fill: #000 !important;
}
.theme-dark .calendar .has-note.active .hollow {
  stroke: #000;
}

.calendar tr {
  line-height: 1.2em;
}
.workspace-leaf-content[data-type='calendar'] .view-content {
  padding: 0 4px;
}
