body {
  /* 高亮背景 */
  --text-highlight-bg: #f7c5ab !important;
  /* 侧边栏 */
  --nav-item-size: 14px;
  /* 加粗 */
  /* --bold-color: var(--color-accent) !important; */
  /* --bold-color: #8e44ad !important; */
  --bold-color: #5361c9 !important;
  /* 列表任务完成 */
  --checklist-done-color: #868e96;
  --list-marker-color: hsla(var(--color-accent-hsl), 0.8);
  /* 标签 */
  --tag-border-width: 0.5px;
  --tag-size: 1em;
  --tag-padding-x: 0.5em;
  --tag-padding-y: 0.1em;
  --tag-border-color: var(--color-accent);
}

/* 文件查找 */
.cm-s-obsidian span.obsidian-search-match-highlight {
  color: #000;
  background-color: var(--text-highlight-bg);
  box-shadow: 0 0 0px 2px var(--text-highlight-bg);
}

/* 标题：常用 2、3、4 标题，其他我就不改了 */
.increase-paragraph-gap .HyperMD-header {
  border-bottom: 1px solid #dbdbdc;
}
.increase-paragraph-gap .HyperMD-header.HyperMD-header-2 {
  /* padding-top: 0.2em !important; */
  /* TODO: 这个值设置到 0.25 以上会导致 gj/gk 出现卡住的问题 */
  /* padding-bottom: 0.2em !important; */
  font-size: 1.5em;
  line-height: 1.6;
  border-image: linear-gradient(to right, var(--color-accent), #fff) 1;
}
.increase-paragraph-gap .HyperMD-header.HyperMD-header-3 {
  /* padding-top: 0 !important; */
  /* padding-bottom: 0 !important; */
  font-size: 1.35em;
}
.increase-paragraph-gap .HyperMD-header.HyperMD-header-4 {
  /* padding-top: 0 !important; */
  /* padding-bottom: 0 !important; */
  font-size: 1.2em;
}

/* 加粗标签 */
b,
strong,
.cm-strong {
  color: var(--bold-color) !important;
}

/* 引用 */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before,
.markdown-source-view.mod-cm6 .cm-blockquote-border:before {
  border-width: 3px;
  border-left-color: #d0d7de !important;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote,
.markdown-rendered blockquote {
  /* color: var(--color-accent); */
  /* background: linear-gradient(to right, hsla(var(--color-accent-hsl), 0.08), #fff); */
  color: #656d76;
  background-color: transparent;
  /* border-bottom: 1px solid; */
  /* border-image: linear-gradient(to right, #d0d7de, #fff) 1; */
}

/* 总任务列表集和页 */
.checklist-plugin-main {
  overflow: hidden;
  --checklist-listItemBackground: #fff;
  --checklist-listItemBackground--hover: #f1f3f5;
  --checklist-listItemMargin: 0 8px 6px 0;
}
/* 搜索 */
.checklist-plugin-main .container .search {
  border-radius: 0 !important;
  box-shadow: none !important;
  border-bottom: 1.5px solid #dbdbdb !important;
}
.checklist-plugin-main .container .search:focus {
  border-color: var(--color-accent) !important;
}
/* 标题栏 */
.checklist-plugin-main .group-header.page {
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--color-accent), #f5f5f5) 1;
  cursor: default;
}
/* 标题 */
.checklist-plugin-main .group-header.page .title {
  cursor: pointer;
}
/* 单个任务 */
.checklist-plugin-main .group li {
  font-size: 1.06em;
  border: 1px solid #dbdbdc;
}
/* 任务列表内单行省略号显示 */
.checklist-plugin-main .compact .content {
  min-width: 0;
}
.checklist-plugin-main .compact .content > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 悬浮显示小圆圈 */
.checklist-plugin-main .group li .checkbox:hover {
  border-color: var(--color-accent);
  cursor: pointer;
}

/* 内联代码块 */
.cm-contentContainer .markdown-rendered code,
.cm-contentContainer .cm-inline-code {
  /* padding: 2px 4px; */
  /* border-radius: 4px; */
  background-color: #eff1f2 !important;
}

/* 代码块 */
.cm-contentContainer .HyperMD-codeblock {
  padding-right: 24px !important;
  border: 1px solid #ccc;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #f6f8fa !important;
}
.cm-contentContainer .HyperMD-codeblock-begin,
.cm-contentContainer .HyperMD-codeblock-end {
  color: #868e96 !important;
  font-size: 0.8em;
}
.cm-contentContainer .HyperMD-codeblock-begin {
  border-top-width: 1px;
  height: 18px;
}
.cm-contentContainer .HyperMD-codeblock-end {
  border-bottom-width: 1px;
  height: 12px;
}

/* 日历 */
.calendar .has-note.active .filled {
  fill: #fff !important;
}
.calendar .has-note.active .hollow {
  stroke: #fff;
}
.calendar tr {
  line-height: 1.25em;
}
