/* 变量样式 */
body {
  /* 侧边栏目录 */
  --nav-item-size: 14px;
  /* #1098ad | #16a085 */
  --feng-bold-color: var(--color-accent);
  --checklist-done-color: #868e96;
  /* --tag-radius: 2em; */
  /* 标签 */
  --tag-border-width: 0.5px;
  --tag-size: 1em;
  --tag-padding-x: 0.5em;
  --tag-padding-y: 0.1em;
  --tag-border-color: var(--color-accent);
  --text-highlight-bg: #78fff4 !important;
  --text-highlight-color: red !important;
  --bold-color: var(--feng-bold-color) !important;
}

/* 粗体 */
b,
strong,
.cm-strong {
  color: var(--feng-bold-color) !important;
}

/* 聚焦行 */
/* .cm-active {
  background-color: #f0f5fa !important;
  transition: 0.15s ease-in;
  transition-property: background-color;
} */

/* 滚动条 */
/* 1. 滑动条宽度、背景，要隐藏滑动条就将宽度设置为 0px，这会影响到所有的滑动条*/
::-webkit-scrollbar {
  width: 0;
}
/* 滑动块之外的背景 */
/* ::-webkit-scrollbar-track {
  background-color: green;
} */
/* 滑动块 外边距、描边、背景色*/
/* ::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid yellow;
  background-color: #982222;
  border-width: 3px 4px 3px 3px;
  min-height: 45px;
} */
/* 2. 显示但不占据总体宽度 */
/* .nav-files-container,
.markdown-preview-view,
.cm-scroller,
.view-content {
  overflow-y: overlay !important;
} */

.view-header {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}
.markdown-rendered h1,
.markdown-rendered h2,
.markdown-rendered h3,
.markdown-rendered h4,
.markdown-rendered h5,
.markdown-rendered h6 {
  margin: 0;
  padding: 1em 0 0.8em;
}
.markdown-rendered h1,
.markdown-rendered h2 {
  border-bottom: 1px solid #ccc;
}
.markdown-reading-view .markdown-preview-section {
  margin: 0 24px;
}
.markdown-reading-view p {
  margin: 20px 0;
  line-height: 1.6rem;
}

/* 侧边栏：展开的竖线 */
.nav-folder.mod-root .nav-folder > .nav-folder-children {
  border-left-color: var(--color-accent);
}
/* file note count 样式 */
/* .nav-folder-title[data-count]::after {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #fff;
} */

/* 日历（Calendar） */
.calendar .has-note.active .filled {
  fill: #fff !important;
}
.calendar .has-note.active .hollow {
  stroke: #fff;
}
.calendar tr {
  line-height: 1.25em;
}

/* 总任务列表页（CheckList） */
.checklist-plugin-main {
  overflow: hidden;
  --checklist-listItemBackground: #fff;
  --checklist-listItemBackground--hover: #f1f3f5;
  --checklist-listItemMargin: 0 8px 6px 0;
}
/* search */
.checklist-plugin-main .container .search {
  box-shadow: none !important;
  border-bottom: 1px solid #ccc !important;
}
.checklist-plugin-main .container .search:focus {
  border-color: var(--color-accent) !important;
}
/* item */
.checklist-plugin-main .group li {
  border: 1px solid #dbdbdc;
}
.checklist-plugin-main .group li .checkbox {
  cursor: pointer;
}
.checklist-plugin-main .group li .checkbox .checked {
  background-color: var(--color-accent);
  /* background-color: hsla(var(--color-accent-hsl)); */
}
.checklist-plugin-main .group li .checkbox:hover {
  border-color: var(--color-accent);
}
.checklist-plugin-main .group-header.page {
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  /* border-image: linear-gradient(to right, #90caf9, #f5f5f5) 1; */
  border-image: linear-gradient(to right, var(--color-accent), #f5f5f5) 1;
  cursor: default;
}
.checklist-plugin-main .group-header .title {
  flex: 1;
  font-size: 16px;
  cursor: pointer;
  /* background-color: #0f0; */
}
.checklist-plugin-main .group-header .count {
  margin-right: 10px;
}
.checklist-plugin-main .group-header .collapse {
  position: absolute;
  /* top: -1px; */
  right: -24%;
  width: 80%;
  cursor: pointer;
  /* border: 1px solid #f0f; */
}
/* 任务列表内单行省略号显示 */
.checklist-plugin-main .compact .content {
  /* 针对 flex 1 的额外处理 */
  min-width: 0;
}
.checklist-plugin-main .compact .content > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 内联代码 */
.cm-contentContainer .markdown-rendered code,
.cm-contentContainer .cm-inline-code {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #eff1f2 !important;
}
/* 代码块（codeblock） */
.cm-contentContainer .HyperMD-codeblock {
  padding-right: 24px !important;
  border: 1px solid #ccc;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: rgb(246, 248, 250) !important;
}
/* 画一个边框给 codeblock */
.cm-contentContainer .HyperMD-codeblock-begin {
  border-top-width: 1px;
}
.cm-contentContainer .HyperMD-codeblock-end {
  border-bottom-width: 1px;
}

/* 双链的内嵌引用块样式 */
.cm-contentContainer .internal-embed {
  padding-left: 0;
}

/* 调整任务列表缩进样式 */
.cm-contentContainer .HyperMD-task-line .cm-hmd-list-indent {
  margin-right: 20px;
  /* background-color: red; */
}

/* quote block：引用块 */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote,
.markdown-rendered blockquote {
  font-size: 0.95em;
  color: #868e96;
  background-color: transparent;
}

/* 调整 callout 块上下外边距 */
#disable .markdown-source-view.mod-cm6 .cm-callout {
  /* TODO: 这里设置 margin 后会导致 vim 的移动出现问题，乱跳，amazing */
  /* margin-top: 10px !important; */
  /* 设置 padding 后，右侧的显示源码小图标会出去，不好看 */
  /* padding: 10px 0 !important; */
  border: 10px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
}

/* 添加一点动画 */
.markdown-source-view.mod-cm6 .cm-embed-block,
.markdown-source-view.mod-cm6 .cm-callout {
  transition: filter 0.3s ease, box-shadow 0.3s ease-in-out;
}

/* Admonition 样式调整 */
.markdown-source-view.mod-cm6 .cm-embed-block:hover,
.markdown-source-view.mod-cm6 .cm-callout:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
/* 取消 table 渲染表格的文字阴影效果 */
.markdown-source-view.mod-cm6 .cm-table-widget:hover {
  filter: none;
}
.markdown-source-view.mod-cm6 .callout {
  padding: 0;
}
.callout {
  border-style: solid;
  border-width: 1px;
}
/* 标题 */
.callout .callout-title {
  padding: 0.8em 1em;
  padding-right: 2.6em;
  /* 文本两端对齐 */
  text-align: justify !important;
  line-height: 1.5em;
  /* border-bottom: 1px solid #ccc; */
}
.callout .callout-icon {
  margin-top: 0.2em;
}
.callout .callout-title-inner {
  margin-left: 0.4em;
}
/* 折叠图标 */
.callout .callout-fold {
  margin-top: 0.1em;
}
.callout .callout-fold svg {
  width: 22px;
  height: 22px;
}
/* 内容 */
.admonition-content,
.callout-content {
  /* padding: 0 1.5em 0 2em; */
  padding: 0.4em 2.4em 0 2em;
  text-align: justify !important;
  /* Anu 主题的扒的 */
  border-top: 1px dashed rgba(var(--callout-color), var(--callout-border-opacity));
  line-height: 1.5em;
}
.admonition-content p {
  /* 调整内容的上下边距 */
  margin: 0.6em auto !important;
}
/* 显示源码小按扭 */
.markdown-source-view.mod-cm6 .edit-block-button {
  top: 0.6em;
  right: 0.6em;
  opacity: 0;
}
/* copy 小按扭 */
.admonition-content-copy {
  top: 0.3em;
  right: 0.6em;
  opacity: 1;
  /* 删除动画 */
  /* transition: none; */
}
/* 引用块 */
.markdown-rendered blockquote {
  padding: 0 0 0 1em;
  line-height: 1.4em;
  color: #757575;
}
/* 内部的有序列表以及无序列表边距调整 */
.admonition-content ul,
.admonition-content ol {
  /* margin: 0; */
  /* margin-bottom: 0; */
  padding-left: 1.4em !important;
}

/* Better Command Palette 增强面板 */
.better-command-palette {
  box-shadow: none;
}
.better-command-palette .better-command-palette-title {
  margin: 12px 0 8px 22px;
}
